<%= form_for(@page, url: (if @page.persisted? then admin_page_path(@page) else admin_pages_path end), html: { class: 'form-horizontal' }) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this admin_page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="page_namespace" class='col-md-2 control-label'>Namespace</label>
    <div class='col-md-10'>
      <%= f.select(:namespace, options_for_select(Page.distinct(:namespace), @page.namespace), { }, { value: @page.namespace, class: 'form-control' }) %>
    </div>
  </div>

  <div class="form-group">
    <label for="page_title" class='col-md-2 control-label'>Title</label>
    <div class='col-md-10'>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label for="page_title" class='col-md-2 control-label'>Title</label>
    <div class='col-md-10'>
      <%= f.text_area :raw_content, class: 'form-control', rows: 20 %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit('Save', class: 'btn btn-success') %>
  </div>
<% end %>
