<h1>101wiki Pages</h1>


<p style="margin-top: 15px;">
  <%= link_to 'New Page', new_admin_page_path, class: 'btn btn-info' %>
</p>
<p id="notice"><%= notice %></p>

<form class="form-inline" style="margin-top: 20px;" action="<%= url_for(params) %>">
  <div class="form-group">
    <label for="search_namespace">Namespace</label>
    <%= select('search', 'namespace', options_for_select(Page.distinct(:namespace), @namespace), { include_blank: true }, { value: @namespace, class: 'form-control' }) %>
  </div>
  <button type="submit" class="btn btn-default">Filter</button>
</form>

<table class='table'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Namespace</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= page.namespace %></td>
        <td><%= link_to 'Edit', edit_admin_page_path(page) %></td>
        <td><%= link_to 'Destroy', admin_page_path(page), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class='row'>
  <div class='col-md-12'>
    <%= paginate @pages %>
  </div>
</div>
