%div{:class => "contribution"}
  %p
    - if contribution.user
      =link_to contribution.user.name, contribution.user

  %p
    =link_to contribution.url, contribution.url

  %p
    title:
    = contribution.title

  %p
    folder:
    = contribution.folder

  -if contribution.description && !contribution.description.empty?
    %p
      description:
      = contribution.description

  - if contribution.languages
    %p
      languages:
      = Contribution.array_to_string contribution.languages

  - if contribution.concepts
    %p
      concepts:
      = Contribution.array_to_string contribution.concepts

  - if contribution.features
    %p
      features:
      = Contribution.array_to_string contribution.features

  - if contribution.technologies
    %p
      technologies:
      = Contribution.array_to_string contribution.technologies

  - if contribution.page
    %p
      wiki page:
      %a{:href => '/wiki/'+ contribution.page.full_title.to_s}=  contribution.page.full_title.to_s

