<div class='row' style="margin-top: 30px; padding-left: 20px;">
  <div class='col-md-9 hidden-sm'>
    <%= react_component('TagCloud', data: tagcloud_data, namespace: namespace) %>
    <div class='<%= tag_class_name %>'></div>
  </div>
  <div class='col-md-3'>
    <h2 class='category-title'>Most recent</h2>
    <% recent_pages.each do |page| %>
      <div class='page-preview'>
        <h2>
          <%= link_to(page.full_title, page_path(page.full_title))  %>
        </h2>

        <div class='content'>
          <%= cache(page) do %>
            <%= raw page.preview %>
          <% end %>
        </div>
      </div>
      <hr />
    <% end %>
  </div>
</div>
