#contribution.tab-pane

  %h2 Information about contribution

  - if @page.worker_findings and !@page.worker_findings.empty?

    %h3 Worker findings
    - findings = JSON.parse(@page.worker_findings)
    - if findings
      - findings.each do |one_finding|
        - one_finding.keys.each do |finding_key|
          %p
            %b
              = finding_key.capitalize
            \: #{ContributionModule.contribution_array_to_string(one_finding[finding_key])}

    - if  (can? :manage, @page)
      - apply_url = PageModule.escape_wiki_url @page.full_title
      %a.btn.btn-success{:href => "/contribute/apply_findings/#{apply_url}"}
        Apply findings in contribution page

  %h3 Input contribution github params
  = form_tag("/contribute/update/#{@page.nice_wiki_url}", :method => :post) do
    = label_tag "Github repository url of contribution"
    %i{:class => 'icon-asterisk red_asterisk'}
    %input{:name => :contrb_url, :placeholder => 'Obvious', :value => @page.contribution_url}
    = label_tag "Folder in repo"
    %input{:name => :contrb_folder, :value => @page.contribution_folder, :placeholder => 'Not obvious'}
    %button.btn.btn-success{:type => "submit"} Update contribution

  %h3 Select contributor
  - if !@page.contributor.nil?
    Current contributor is:
    = @page.contributor.name
  = form_tag("/contribute/select_contributor/#{@page.nice_wiki_url}", :method => :post) do
    = select(:contributor, nil, User.all.map{ |u| u.name })
    %button.btn.btn-success Change contributor

  %h3 Analyze contribution with matching service
  = form_tag("/contribute/send_analyze_request/#{@page.nice_wiki_url}", :method => :post) do
    %input.btn.btn-success{:type => 'submit'} Send request on matching server
