#contribution.tab-pane

  - if @page.worker_findings and !@page.worker_findings.empty?

    %h2 Worker findings
    - findings = JSON.parse(@page.worker_findings)
    - if findings
      - findings.each do |one_finding|
        - one_finding.keys.each do |finding_key|
          %p
            %b
              = finding_key.capitalize
            \: #{PageModule.contribution_array_to_string(one_finding[finding_key])}

    - if  (can? :manage, @page)
      - apply_url = PageModule.escape_wiki_url @page.full_title
      %a.btn.btn-success{:href => "/contribute/apply_findings/#{apply_url}"}
        Apply findings in contribution page

  %h2 Input contribution github params
  = simple_form_for(@p^age, :html => {:class => 'form-horizontal' }) do |f|
    = f.input :contribution_url
    = f.input :contribution_folder
    = f.input :contributor, collection: User.all.map{ |u| u.name }
    = f.button :submit, :class => 'btn btn-success'
