#page-changes.tab-pane
  / assume, that page itself is last page version
  - last_shown_version_id = nil

  - page_changes_exist = !(@page.page_changes.nil? || @page.page_changes.empty?)

  - if page_changes_exist

    %a.btn-primary.btn.show_changes_button Compare revisions

    %label.one-page-change
      %input{:type => "radio", "data-page-change" => ''}
      Actual version of page
      %b= @page.full_title.gsub('@', '101')

    - @page.page_changes.order_by("created_at DESC").each do |page_change|
      %label.one-page-change
        %input{:type => "radio", "data-page-change" => page_change.id}
        - last_shown_version_id = page_change.id
        - if page_change.user
          %img.small_avatar{:src => page_change.user.github_avatar}
          %a{:href=> "mailto:#{page_change.user.email}"}= page_change.user.name
        - else
          UFO
        edited this article
        = time_ago_in_words page_change.created_at
        ago.

        %a{:href => "/page_changes/diff/#{page_change.id}/#{last_shown_version_id}", :target => '_blank'} Show diff with previous revision
        |
        - if can? :manage, page_change.page
          %a{:href => "/page_changes/apply/#{page_change.id}"} Apply revision
          |
        %a{:href => "/page_changes/show/#{page_change.id}", :target => '_blank'} Show revision

    %a.btn-primary.btn.show_changes_button Compare revisions

  - else

    %h3
      There are no revisions for this page.

:javascript


  $(function(){

    window.pageId = "#{@page.id}"

    window.reloadHistory = function () {
      $.ajax({
        url: '/page_changes/all/'+ window.pageId,
        dataType: 'JSON',
        success: function(data){
          $('#page-changes').html(data['history_html']);
          window.prepareCompareRevisionUI();
        }
      })
    };

  });
