<script type='text/javascript'>
window.pagePath = '<%= page_path(@page.full_title) %>';
window.renamePath = '<%= rename_page_path(@page.full_title) %>'
</script>

<div id="renameModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Rename Page</h3>
  </div>
  <div class="modal-body">
    <div class="modal-body">
      <p>New title:</p>
      <input id="newTitle" name="newTitle" value="<%= @page.full_title %>" type="text">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id='renamePageButton'>Save changes</button>
  </div>
</div>

<% if !@page.nil? && @page.verified == false %>
<div class=alert alert-warning>
  <strong>The page hasn't been verified by an Adminstrator yet!</strong>
</div>
<% end %>

<div id='contentTop'>
  <div id='topEditBar' class='editBar'>
    <div class="btn-toolbar notEditing" style="display: block;">
      <div class="btn-group">
        <% if can? :edit, @page %>
        <a href='<%= edit_page_path(@page.full_title) %>' class="editbutton  btn btn-small" id="pageEditButton">
          <i class="icon-pencil"></i>
          <strong class="editbuttontext"> Edit</strong>
        </a>
        <% if current_user.role == ('admin' || 'editor') %>
          <% if !@page.nil? && @page.verified == false %>
          	<a href='<%= verify_page_path(@page.full_title) %>' data-method="put" class="editbutton  btn btn-small" id="pageVerifyButton">
              <i class=""></i>
              <strong class="editbuttontext"> Verify</strong>
            </a>
        	<% end %>
          <button class="editbutton  btn btn-small" id="pageDeleteButton">
            <i class="icon-trash"></i><strong> Delete</strong>
          </button>
        <% end %>
          <a href='#renameModal' data-toggle="modal" class="editbutton  btn btn-small" id="pageRenameButton">
            <i class="icon-share-alt"></i>
            <strong class="editbuttontext"> Rename</strong>
          </a>
          <%= link_to(unverify_page_path(@page.full_title), class: 'editbutton  btn btn-small') do %>
            <i class="icon-remove-circle"></i>
            <strong class="editbuttontext"> Unverify</strong>
          <% end %>
        <% else %>
          <a href='<%= edit_page_path(@page.full_title) %>' class="editbutton  btn btn-small" id="showSourceButton">
            <i class="icon-share-alt"></i>
            <strong class="editbuttontext"> Show Source</strong>
          </a>
        <% end %>
      </div>
      <%= render "/pages/repo_tab" %>
     </div>
  </div>

  <div id="title">
    <h1><%= @page.full_title %></h1>
  </div>

</div>

<div id='sections'>
  <%= @page.render.html_safe %>

  <div class='section' id='metasection'>
    <div class='headlinecontainer'>
      <h2 class='headline'>Metadata</h2>
    </div>

    <%= render 'triples', triples: @rdf, hover_show: false %>

  </div>

</div>

<% if @page.backlinks.count > 0 %>
<div class='additional-sections'>
  <div class="section" id="backlinks" style="display: block;">
     <h2>Backlinks</h2>

     <div class='backlinks-body'>
       <% @page.backlinks.each do |link| %>
         <a href="<%= '/wiki/' + link.sub(' ', '_') %>">
           <span class="label">
             <%= link %>
           </span>
         </a>
       <% end %>
     </div>

  </div>
</div>
<% end %>

<% if @resources.count > 0 %>
<div class='addtional-sections' id='last-section'>

  <div class='section' id='resources' style='display: block;'>
    <h2 class='headline'>Resources</h2>

    <%= render 'resources', resources: @resources, books: @books %>
  </div>
</div>
<% end %>

<hr>

<div id="infofooter">
  <div class='history'>
    <% @change = @page.get_last_change %>
    <% if @change[:created_at] %>
    <img class="small_avatar" height="24" src="<%= @change[:user_pic] %>" width="24">
    <a href="mailto:<%= @change[:user_email] %>"><%= @change[:user_name] %></a>

    edited this article at
    <%= l @change[:created_at] %>
    <% end %>

  </div>
</div>
