/ if creating contribution -> @page will be nil
/ else it's updating extisting page

- @page ||= Page.new
- repo_link = @page.repo_link || RepoLink.new

/ if page just created -> contribution process
- is_contribution_process = @page.title.nil?
- url_to_send = is_contribution_process  ? "/contribute/new" : "/contribute/update/#{@page.url}"

- repos_to_show = get_user_repos

- if (!repo_link.user.nil? and !repo_link.folder.nil? and !repo_link.repo.nil?)
  - repos_to_show << repo_link.user_repo

= simple_form_for(repo_link, :html => {:class => 'form-horizontal' }, :url => url_to_send) do |f|
  = f.input :user_repo, :label => 'GitHub repo', :collection => repos_to_show, :include_blank => true
  = f.input :folder, :collection => [repo_link.folder], :include_blank => true
  - if @page.title.nil?
    = f.input :page_title
  - if is_contribution_process
    = f.submit 'Submit contribution', :class => 'btn btn-success', :id => 'update_page_button'
  - else
    = f.submit 'Save repo link', :class => 'btn btn-success', :id => 'update_page_button'

- if (!repo_link.repo.nil?) && (!(repo_link.repo.strip == ''))
  :javascript
    window.Repo = "#{repo_link.user}/#{repo_link.repo}";
    window.Folder = "#{repo_link.folder}";
