/ if creating contribution -> @page will be nil
/ else it's updating extisting page

- @page ||= Page.new
- repo_link = @page.repo_link || RepoLink.new

/ if page just created -> contribution process
- url_to_send = @page.title.nil?  ? "/contribute/new" : "/contribute/update/#{@page.url}"

- repos_to_show = current_user.get_repos
- if (!repo_link.user.nil? and !repo_link.folder.nil? and !repo_link.repo.nil?)
  - repos_to_show << repo_link.user_repo

= simple_form_for(repo_link, :html => {:class => 'form-horizontal' }, :url => url_to_send) do |f|
  = f.input :user_repo, :label => 'Github repo', :collection => repos_to_show, :include_blank => false
  = f.input :folder, :collection => [repo_link.folder]
  - if @page.title.nil?
    = f.input :page_title
  = f.button :submit, :class => 'btn btn-success', :id => 'update_page_button'
