/ if creating contribution -> @page will be nil
/ else it's updating extisting page

- page = !@page  ? Page.new : @page
- url_to_send = !@page  ? "/contribute/new" : "/contribute/update#{@page.url}"

= simple_form_for(page, :html => {:class => 'form-horizontal' }, :url => url_to_send) do |f|
  = f.input :contribution_url, :label => 'Github repo', :collection => current_user.get_repos, :include_blank => false
  = f.input :contribution_folder, :collection => [page.contribution_folder]
  - if !@page
    = f.input :title
  = f.button :submit, :class => 'btn btn-success', :id => 'update_page_button'
