
<%

# annotate resource name
resources.map do |triple|
  triple[:name] = triple[:node].split('/')[2]
end

# group triples
resources = resources.inject({}) do |all, triple|
  name = triple[:name]
  if all[name]
    all[name] = all[name] + [triple]
  else
    all[name] = [triple]
  end
  all
end

%>
<% resources.each do |_, triples| %>
<div class="resource" data-toggle="<%= triples.first[:name] %>">

  <h5 class="resourcename"><ul><li><%= triples.first[:name] %></li></ul></h5>
  <br>
  <div id="<%= triples.first[:name] %>" class="resourcebar" style="height: auto">
    <% triples.each do |triple| %>
    <span class="resourcebox nonbookresource" data-toggle="collapse resource" data-original-title="" title="">
      <div class="subject label">this</div>
      <div class="predicate"><%= triple[:predicate] %></div>
      <a href="<%= triple[:node].gsub(' ', '_') %>"><%= triple[:node] %></a>
    </span>
    <% end %>
  </div>
</div>
<% end %>

<% mappings.each do |mapping| %>
<div class="resource" data-toggle="<%= mapping.book_title %>">

  <h5 class="resourcename"><ul><li><%= mapping.book_title %></li></ul></h5>
  <br>
  <div id="<%= mapping.book_title %>" class="resourcebar" style="height: auto">
    <span class="resourcebox nonbookresource" data-toggle="collapse resource" data-original-title="" title="">
      <a href="<%= mapping.chapter_url %>"><%= mapping.chapter_name %></a>
    </span>
  </div>
</div>
<% end %>
