= render "/pages/shared/default"

= content_for :title, @page.full_title.gsub('@', '101')

%ul.nav.nav-tabs

  %li.active
    %a#page-tab-link.tab-link{"data-toggle" => 'tab', :href => '#page'} 101wiki

  %li
    %a#discovery-tab-link{:target => '_blank'} 101explorer

  %li
    %a#repo-tab-link.tab-link{:href => "#repo", "data-toggle" => 'tab'} 101repo

  - exist_last_change = !@page.page_changes.nil? ? @page.page_changes.last : nil
  - if current_user and exist_last_change
    %li
      %a#page-changes-tab-link.tab-link{:href => "#page-changes", "data-toggle" => 'tab'} History

.tab-content

  / tab with backbone page
  #page.tab-pane.active

    - if @page.html_content.strip.length == 0
      %h3.content-loading
        %center
          %img{:src => "/assets/ajax-loader.gif"}/
          Loading page...
    - else
      = @page.html_content.html_safe

  / tab with all repo settings
  #repo.tab-pane
    = render "/pages/repo_tab"

  / tab with all history revisions
  - if exist_last_change
    = render "/pages/history_tab"

#modal.modal.fade
  .modal-header
    %a.close{"data-dismiss" => "modal"} &times;
  %h3
    #modal_body
