<%= render "/pages/shared/default" %>
<%= content_for :title, @page.full_title %>

<% if current_user %>
  <% if @errors.length > 0 %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% @errors.each do |error| %>
          <li>
            <%= error %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @warnings.length > 0 %>
    <div class="alert alert-warning" role="alert">
      <ul>
        <% @warnings.each do |error| %>
          <li>
            <%= error %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#page" id="page-tab-link">101wiki</a>
  </li>
  <% if @page.namespace != "Contributor" %>
  <% else %>
    <li class="nav-item">
      <a class="tab-link" data-toggle="tab" href="#pages-edits" id="pages-edits-tab-link">Pages edits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#contributions" id="contributions-tab-link">Contributions</a>
    </li>
  <% end %>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#editing-help" id="editing-help-tab-link">Help</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#page-changes" id="page-changes-tab-link">History</a>
  </li>
</ul>
<div class="tab-content">
  <!-- tab with backbone page
  -->
  <div class="tab-pane active page" id='page'>
    <%= render "pages/page", page: @page %>
  </div>
  <!-- tab with all repo settings
  -->
  <!-- tab with all history revisions
  -->
  <%= render "/pages/history_tab" %>
  <!-- tab with all repo settings
  -->
  <div class="tab-pane" id="contributions">
    <h2>User contributions</h2>
    <% if defined?(@contributions) %>
      <ul></ul>
      <% if @contributions.count == 0 %>
        This user never has never made submissions.
      <% else %>
        <% @contributions.each do |contribution| %>
          <% if !contribution.nil? %>
            <li>
              Developed contribution
              <a href="<%= page_path(contribution.full_title) %>" target="_blank">#{contribution.full_title}</a>
            </li>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="tab-pane" id="pages-edits">
    <h2>User edits</h2>
    <% if defined?(@pages_edits) %>
      <ul></ul>
      <% if @pages_edits.count == 0 %>
        No pages edited by this user.
      <% else %>
        <% @pages_edits.order_by("created_at DESC").each do |page_edit| %>
          <% if !page_edit.page.nil? %>
            <li>
              Edited page
              <a href="<%= page_path(page_edit.page.full_title) %>" target="_blank">#{page_edit.page.full_title}</a>
              <a href="/page_changes/show/<%= page_edit.id %>" target="_blank">#{time_ago_in_words(page_edit.created_at)} ago</a>
            </li>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <!-- tab with all repo settings
  -->
  <div class="tab-pane" id="editing-help">
    <%= render "/pages/editing_help" %>
  </div>
  <!-- tab with all repo settings
  -->
  <div class="tab-pane" id="editing-help">
    <%= render "/pages/editing_help" %>
  </div>
</div>
<div class="modal fade" id="modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
  </div>
  <h3>
    <div id="modal_body"></div>
  </h3>
</div>
