= render "/pages/shared/default"

= content_for :title, @page.full_title.gsub('@', '101')

%ul.nav.nav-tabs

  %li.active
    %a#page-tab-link.tab-link{"data-toggle" => 'tab', :href => '#page'} 101wiki

  - if @page.namespace != "Contributor"
    %li
      %a#discovery-tab-link{:target => '_blank'} 101explorer
    %li
      %a#repo-tab-link.tab-link{:href => "#repo", "data-toggle" => 'tab'} 101repo
  - else
    %li
      %a#pages-edits-tab-link.tab-link{:href => "#pages-edits", "data-toggle" => 'tab'} Pages edits
    %li
      %a#contributions-tab-link.tab-link{:href => "#contributions", "data-toggle" => 'tab'} Contributions

  %li
    %a#editing-help-tab-link.tab-link{:href => "#editing-help", "data-toggle" => 'tab'} Help

  - if current_user
    %li
      %a#page-changes-tab-link.tab-link{:href => "#page-changes", "data-toggle" => 'tab'} History

.tab-content

  / tab with backbone page
  #page.tab-pane.active
    = render "pages/page"

  / tab with all repo settings
  #repo.tab-pane
    = render "/pages/repo_tab"

  / tab with all history revisions
  = render "/pages/history_tab"

  / tab with all repo settings
  #contributions.tab-pane
    %h2 User contributions
    - if defined?(@contributions)
      %ul
      - if @contributions.count == 0
        This user never has never made submissions.
      - else
        - @contributions.each do |contribution|
          - if !contribution.nil?
            %li
              Developed contribution
              %a{:href => "/wiki/#{contribution.full_title}", :target => '_blank'} #{contribution.full_title}

  #pages-edits.tab-pane
    %h2 User edits
    - if defined?(@pages_edits)
      %ul
      - if @pages_edits.count == 0
        No pages edited by this user.
      - else
        - @pages_edits.order_by("created_at DESC").each do |page_edit|
          - if !page_edit.page.nil?
            %li
              Edited page
              %a{:href => "/wiki/#{page_edit.page.full_title}", :target => '_blank'} #{page_edit.page.full_title}
              %a{:href => "/page_changes/show/#{page_edit.id}", :target => '_blank'} #{time_ago_in_words(page_edit.created_at)} ago

  / tab with all repo settings
  #editing-help.tab-pane
    = render "/pages/editing_help"

  / tab with all repo settings
  #editing-help.tab-pane
    = render "/pages/editing_help"

#modal.modal.fade
  .modal-header
    %a.close{"data-dismiss" => "modal"} &times;
  %h3
    #modal_body
