%h1 Create new contribution

= render 'users/shared/view', :user => current_user

= form_tag('/contribute/create', :method => :post) do
  = label_tag "Url to repository"
  = select(:contrb_repo_url, nil, @user_github_repos.html_safe)
  = label_tag "Title of contribution"
  %input{:name => 'contrb_title', :placeholder => 'Obvious'}
  = label_tag "Description for contribution"
  %textarea{:name => 'contrb_description', :placeholder => 'Not obvious'}
  = label_tag "Folder in repo"
  %input{:name => 'contrb_folder', :placeholder => 'Not obvious'}
  %p
  %button{:type => "submit", :class => "btn btn-success"}
    Create contributon
