<h1><a href="<%= @headline_url %>"><%= @headline %></a></h1>
<p>Ein Subjekt vom Typ <a href="<%= @type_url %>"><%= @type %></a>, aus dem Bestand von : http://101companies.org</p>

<style>
  tr.o td {
    background-color: #f9f9f8;
  }
  tr.res td {
    border-top: 1px solid #c3d9ff;
    padding: 10px;
  }
</style>
<table>
  <tr>
    <th>Eigenschaft</th>
    <th>Wert</th>
  </tr>

  <% @result.each do |s,p,o| %>
      <tr class="res <%= cycle('o', 'e') %>">
        <td><a href="<%= p %>"><%= p.pname %></a></td>
        <td><a href="<%= o %>"><%= o %></a></td>
      </tr>
  <% end %>
  <% @result_inv.each do |s,p,o| %>
      <tr class="res <%= cycle('o', 'e') %>">
        <td>is <a href="<%= p %>"><%= p.pname %></a> of</td>
        <td><a href="<%= s %>"><%= s %></a></td>
      </tr>
  <% end %>
</table>