<title>Search</title>

<%= stylesheet_link_tag 'resource' %>

<h1>Nothing found...</h1>
<% if !@result.nil? && @result.length > 0 %>
<h2>.. but maybe you mean:</h2>
<table class="res">
  <tr>
    <th>Search results</th>
  </tr>

  <% @result.each do |s, p, o| %>
      <tr class="res <%= cycle('o', 'e') %>">
        <td>
          <%= render_resource s %>
        </td>
      </tr>
  <% end %>
</table>
<% else %>
    <h2>.. but here are some cats:</h2>
    <img src="http://placekitten.com/400/430" height='430' width='400' />
    <br>
    <a class='btn btn-centered' href='/resource' title='<%= t('landing.linkeddata_go') %>'>
      <%= t('landing.linkeddata_go') %>
    </a>
<% end %>
<hr>