= content_for :title, "Revision of page #{@page.full_title.gsub('@', '101')}"

.revision-preview-title This is a revision of page '#{@page.full_title.gsub('@', '101')}'

%br

%a{:class => "btn btn-info", :href => "/wiki/#{@real_page.url}#page-changes"} Back to history list

:javascript

    Wiki.pageTitle = #{j @page.full_title.to_json.html_safe};
    Wiki.pageContent= "#{escape_javascript(@page.raw_content.html_safe)}";
    Wiki.pageNiceTitle=  "#{j @page.url.html_safe}";
    Wiki.pageSections= #{j @page.sections.to_json.html_safe};
    Wiki.pageBacklinks= #{j @page.backlinks.to_json.html_safe};
    Wiki.pageHistory= #{j @page.get_last_change.to_json.html_safe};
    Wiki.pageTriples = #{get_rdf_json(@page.full_title, true, @page).to_json.html_safe};
    Wiki.currentUser = new Wiki.Models.User(#{j current_user.to_json.html_safe});
    Wiki.currentUser.set('actions', ['View'])

    jQuery(document).ready(function ($){
        window.router = new Wiki.Routers.PagesRouter();
        Backbone.history.start();
    })

.page-revision
    #page
