<div id="header">
  <h1>Status of  "<%= title %>"</h1>
  <% if (status != 'created') { %>
    <button class="btn btn-small" id="remove"><i class="icon-remove"></i> Withdraw clone</button>
  <% } %>
</div>
 <hr>
 <% if (status == 'non-existent') { %>
<h3>Clone does not exist. You can create one <a href="/clones/new">here</a>.
  <% } else { %>
<h3>Current status: <b><%= status.replace('_',' ') %></b></h3>
 <% if (status == 'new') { %>
  The clone will be prepared soon. Please come back later.
 <% } else if (status == 'in_preparation') { %>
  The clone is currently beging prepared. Please come back later.
 <% } else if (status == 'in_inspection') { %>
  The clone has been prepared and needs to be inspected. Please follow these steps:
  <ol>
  <li> Checkout <a href="https://github.com/tschmorleiz/101haskell">https://github.com/tschmorleiz/101haskell</a>. Your clone can be found in <a href="https://github.com/tschmorleiz/101haskell/tree/master/contributions/<%=  title %>">/contributions/<%=  title %></a>.</li>
  <li> Try to run build and test the contribution by using the Makefile.</li>
 <li>
  If this does not succeed uncomment feature fragments of the code that were commented out.  Repeat until building and testing succeeds.</li>
  <li> Commit and push your changes using the commit message "done inspecting <%= title %>".</li>
  <li> Come back to this page. It will soon provide you a link to the contribution page of your new clone.
</ol>
 <% } else if (status == 'created') { %>
  The clone was created.
 <% } %>
 <p>
 <hr>
<h3>Cloned from <a href="/wiki/Contribution:<%= original %>" ><%= original %></a></h3>
<hr>
<h3>Cloned features:</h3>
<ul>
<% _.each(features, function(f) { %>
  <li><a href="/wiki/Feature:<%= f %>" ><%= f %></a></li>
<% }) %>
</ul>
<% }  %>
