<h1>Index of clones</h1>
<ul id="clones-list">
<% _.each(models, function(m) { %>
<li>
  <a href="/clones/check/<%= m.title %>""><%= m.title %></a>
  cloned from
  <a href="/wiki/Contributions:<%= m.original %>"><%= m.original %></a>
  (<%= m.features.length %> features)
</li>
<% }) %>
</ul>
<hr>
You can create a new clone <a href="/clones/new">here</a>.
