<h2>Status of  "<%= title %>"</h2>

<h3>Cloned from <a href="/wiki/Contribution:<%= original %>" ><%= original %></a></h3>
<hr>
<h3>Cloned features:</h3>
<ul>
<% _.each(features, function(f) { %>
  <li><a href="/wiki/Feature:<%= f %>" ><%= f %></a></li>
<% }) %>
</ul>
<hr>
<h3>Current status: </h3>
<p><b><%= status %>: </b>
 <% if (status == 'new') { %>
  The clone is new
 <% } else if (status == 'in_preparation') { %>
  The clone is currently prepared. Please come back later.
 <% } else if (status == 'in_inspection') { %>
  The clone is currently inspected by the developer.
 <% } else if (status == 'created') { %>
  The clone was created.
 <% } %>

</i></h3>
