<%
 function isAdmin() {
  return (_.contains(Wiki.currentUser.get('actions'), "Edit")) ;
 }
%>

<div class="tour">
  <h1>
    <%= title %>
    <div class="editBar">
      <div class="btn-toolbar">
        <button class="btn tourAddPage" type="button"><i class="icon-play"></i> Start</button>
      </div>
    </div>
  </h1>
  <h3 class="author">
  	<div class="viewDefault">
        <% if (author) {%>
  	   by <%= author %>
       <%}%>
  	  <%if (isAdmin()) {%>
  	    <span class="editButtons">
          <button class="btn-mini tourShowEdit" type="button"><i class="icon-pencil"></i></button>
        </span>
      <%}%>
    </div>
    <%if (isAdmin()) {%>
  	  <div class="viewEdit" style="display:none;">
  	    by <input class="span2 authorName" type="text" value="<%= author %>">
  	  </div>
  	<%}%>
  </h3>

  <%
   if (isAdmin()) {
     $(function() {
       $('#pages').sortable({
         items:'.page',
         containment: 'parent',
         cursor: 'move',
         axis: 'y',
         tolerance: 'pointer',
         delay: 150
       });
     });
   }
  %>

  <h2>
   Pages
   <%if (isAdmin()) {%>
    <div class="editBar">
     <div class="btn-toolbar">
      <button class="btn btn-small tourAddPage" type="button"><i class="icon-plus"></i> Add Page</button>
      <button class="btn btn-small tourSave" type="button"><i class="icon-check"></i> Save</button>
     </div>
    </div>
   <%}%>
  </h2>
  <ul id="pages" class="sortable">
    <% _.each(pages, function(p) {%>
     <li class="page">
      <hr>
      <div>
       <%if (isAdmin()) {%>
        <button class="btn btn-small tourAddSection" type="button"><i class="icon-plus"></i> Add Section</button>
       <%}%>
       <div class="viewDefault">
        <a class="titleLink" class="titleLink" href="/wiki/"><%= p.title %></a>
        <%if (isAdmin()) {%>
         <span class="editButtons">
          <button class="btn-mini tourShowEdit" type="button"><i class="icon-pencil"></i></button><button class="btn-mini tourRemovePage" type="button"><i class="icon-remove"></i></button>
         </span>
        <%}%>
       </div>
       <%if (isAdmin()) {%>
        <div class="viewEdit"><input class="pageTitle" value="<%= p.title %>"></div>
       <%}%>
      </div>
      <div>
       <ul id="sections" class="sections">
        <% _.each(p.sections, function(s) {%>
         <li class="section">
          <div class="viewDefault">
           <a class="sectionLink" href="/wiki/<%= p.title.replace(/_/g, ' ') %>#<%= s.replace(/_/g, ' ') %>">#<%= s %></a>
           <%if (isAdmin()) {%>
            <span class="editButtons">
             <button class="btn-mini tourShowEdit" type="button"><i class="icon-pencil"></i></button><button class="btn-mini tourRemoveSection" type="button"><i class="icon-remove"></i></button>
            </span>
           <%}%>
          </div>
          <%if (isAdmin()) {%>
           <div class="viewEdit"><input class="sectionTitle" value="<%= s %>"></div>
          <%}%>
         </li>
        <% }); %>
       </ul>
      </div>
     </li>
    <% }); %>
  </ul>
</div>
