<div class="triple">
  <div class="arrow"> <%= arrow %></div>
  <div class="subject label"><%if (s != 'this') {%><a href="wiki/../<%= s %>"><%= s %></a><%}else{%>this<%}%></div>
  <div class="predicate"><%= p %></div>
  <div class="object label"><%if (o != 'this') {%><a href="wiki/../<%= o %>"><%= o %></a><%}else{%>this<%}%></div>
  </br>
</div>
