<span class="tripel">
  <div class="arrow"> <%= arrow %></div>
  <div class="subject label"><%= s %></div>
  <div class="predicate"><%= p %></div>
  <div class="object label"><a href="wiki/<%= o %>"><%= o %></a></div>
  </br>
</span>
