<%= simple_form_for(mapping, wrapper: :horizontal_form, html: { class: 'form-vertical' }) do |f| %>
  <% if mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mapping.errors.count, "error") %> prohibited this mapping from being saved:</h2>

      <ul>
      <% mapping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :index_term, disabled: true %>
  <%= f.input :comment %>
  <%= f.association :page, collection: Page.order(:title), label_method: :full_title %>

  <div class="actions">
    <%= f.submit(class: 'btn btn-success') %>
  </div>
<% end %>
