<%= simple_form_for([book, chapter], wrapper: :horizontal_form, html: { class: 'form-vertical' }) do |f| %>
  <% if chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
      <% chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>
  <%= f.input :url %>

  <%= render('mappings/index', mappings: chapter.mappings) %>

  <%= f.submit(class: 'btn btn-success') %>
<% end %>
