<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @chapter.book %>
</p>

<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @chapter.url %>
</p>

<p>
  <strong>Checksum:</strong>
  <%= @chapter.checksum %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
