<div id="nav"><ul class="nav">
   <!--div><li>
    <%= link_to "Wiki", root_path, :class => 'brand' %>
  </li></div-->
  <% if user_signed_in? %>
    <div><li>
    </i><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>        
    </li></div>
  <% else %>
    <div><li>
    <i class="icon-circle-arrow-right"> </i> <%= link_to 'Login', new_user_session_path %>  
    </li></div>
  <% end %>
  <% if user_signed_in? %>
    <div><li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li></div>
  <% else %>
    <div><li>
    <i class="icon-check"> </i> <%= link_to 'Sign up', new_user_registration_path %>
    </li></div>
  <% end %>
</ul></div>