<html>
  <head>
    <title><%= yield(:title) %></title>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <%= csrf_meta_tags %>
    <% if current_user %>
      <%= tag(:meta, name: 'last_message_id', content: current_user.last_message_id) %>
    <% end %>

    <%= yield(:head) %>
  </head>

  <body>
    <%= content_for(:title, "101wiki") %>

    <div class='navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top'>
      <a class="navbar-brand" href="/" data-turbolinks="false">101companies</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <% if !current_user %>
              <%= link_to '/auth/github', class: 'nav-link' do %>
                <i class='icon-github-alt icon-large'></i>
                Github Login
              <% end %>
            <% else %>
              <a class='dropdown-toggle' data-toggle='dropdown' href=''>
                <img class='small_avatar' height='24' src='<%= current_user.github_avatar %>' with='24' />
                <%= current_user.name %>
                <strong>
                  <%= current_user.role %>
                </strong>
                <span class='caret'></span>
              </a>
              <ul class='dropdown-menu'>
                <li>
                  <%= link_to raw("<i class=\"icon-wrench\"></i> My page"), "/Contributor:#{current_user.github_name}" %>
                </li>
                <% if current_user.role == 'admin' %>
                  <li>
                    <%= link_to('Unverified Pages', unverified_pages_path) %>
                  </li>
                  <li>
                    <%= link_to raw("<i class=\"icon-lock\"></i> Admin Interface"), '/admin', "data-turbolinks" => false %>
                  </li>
                <% end %>
                <li>
                  <%= link_to raw("<i class=\"icon-share\"></i> Logout"), '/users/logout' %>
                </li>
              </ul>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <% if !Rails.env.production? %>
              <a class='nav-link dropdown-toggle' data-toggle='dropdown' href=''>
                Local Login
              </a>
              <ul class='dropdown-menu'>
                <% User.find_each do |user| %>
                  <li>
                    <%= link_to user.name, "/auth/local_login/#{user.id}", class: 'dropdown-item' %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        </ul>

        <form class='form-inline my-2 my-lg-0' action='/search'>
          <input class='search-query' name='q' value='<%= (defined? @query_string) ? @query_string : "" %>' id='search-query' placeholder="Search" type='text'>
          <button type="submit" class="btn btn-secondary">Search</button>
        </form>
      </div>
    </div>

    <div class='container-fluid page-container'>
      <div class='row'>
        <div class='col-md-2'>
        </div>

        <div class='col-md-8' id='main101'>
          <% flash.each do |type, message| %>
            <div class="alert <%= bootstrap_class_for(type) %> fade in">
              <button class="close" data-dismiss="alert">×</button>
              <%= message %>
            </div>
          <% end %>
          <%= yield %>
        </div>

        <div class='col-md-2'>
        </div>
      </div>
    </div>
  </body>
</html>
