
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>101wiki</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <%= stylesheet_link_tag "landing", media: "all" %>
    <%= javascript_include_tag "landing" %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
    </script>
    <![endif]-->
    <!-- Le fav -->
    <!-- <script>
      // History, and back button
      $(function() {

        $('a.scroll').click(function(e) {
          e.preventDefault();
          var hash = this.hash;
          $('html, body').animate({
            scrollTop: $(this.hash).offset().top - 20
          }, 500, function(){
            // when done, add hash to url
            // (default click behaviour)
            window.location.hash = hash;
          });

        });

      });
    </script> -->
  </head>
  <!-- activate scrollspy -->
  <body data-offset='50' data-spy='scroll' data-target='.navbar' id='top'>
    <!-- Nav button -->
    <!-- <a class='closed' id='toggle'>
      <i class='icon-reorder'></i>
    </a> -->
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" style="height: 80px">
      <div class='container-fluid'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <%= image_tag('tower.png', style: 'max-width: 100%; max-height: 100%;') %>
          </a>
        </div>

        <div class="collapse navbar-collapse" id='bs-example-navbar-collapse-1'>
          <ul class='nav navbar-nav navbar-right'>
            <li class='active'>
              <a class='scroll brand-4 header-nav-link' href='#101' data-toggle="tab">What's 101?</a>
            </li>
            <li>
              <a class='scroll brand-4 header-nav-link' href='#languages' data-toggle="tab">Languages</a>
            </li>
            <li>
              <a class='scroll brand-4 header-nav-link' href='#technologies' data-toggle="tab">Technologies</a>
            </li>
            <li>
              <a class='scroll brand-4 header-nav-link' href='#features' data-toggle="tab">Features</a>
            </li>
            <li>
              <a class='scroll brand-1 header-nav-link' href='#contributions' data-toggle="tab">Contributions</a>
            </li>
            <li>
              <a class='scroll brand-4 header-nav-link' href='#courses' data-toggle="tab">Courses</a>
            </li>
            <li>
              <form class='form navbar-form navbar-search pull-left' action='/search'>
                <div class='form-group'>
                  <input class='search-query category-title' name='q' value='<%= (defined? @query_string) ? @query_string : "" %>' id='search-query' placeholder="Search" type='text'>
                </div>
              </form>
            </li>
          </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
