!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title= t('landing.title')
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag "landing", :media => "all"
    = javascript_include_tag "landing"
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600", rel: "stylesheet", type: "text/css"}/

    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    / Le fav

    :javascript
      // History, and back button
      $(function() {

        $('a.scroll').click(function(e) {
          e.preventDefault();
          var hash = this.hash;
          $('html, body').animate({
            scrollTop: $(this.hash).offset().top - 20
          }, 500, function(){
            // when done, add hash to url
            // (default click behaviour)
            window.location.hash = hash;
          });

        });

      });

  / activate scrollspy
  %body#top{"data-offset" => "50", "data-spy" => "scroll", "data-target" => ".navbar"}
    / Nav button
    %a#toggle.closed
      %i.icon-reorder
    / Navigation
    %header.navbar.navbar-fixed-top
      .inner-page
        #nav
          %ul.nav
            %li.active
              %a.scroll.brand-4{href: "#project"}= t('landing.project_title')
            %li
              %a.scroll.brand-1{href: "#explorer"}= t('landing.explorer_title')
            %li
              %a.scroll.brand-4{href: "#contributions"}= t('landing.contribution_title')

    #project.page.color-4
      %br/
      .inner-page
        %h2.page-headline.large= t('landing.project_title')
      .row-fluid.inner-page
        .span6.pull-right
          = image_tag("logo2.jpg", :class=> 'pull-right')
        .span6.pull-right
          = t('landing.project_text')
          %br/
          %br/
          %a.btn.btn-centered{href: "/wiki/101project", title: "Read the wiki"}
            = t('landing.project_go')
      %br/
      %br/
      %br/
      %br/
      %br/

    / Explorer
    #explorer.page.color-1
      %br/
      .inner-page
        %h2.page-headline.large= t('landing.explorer_title')
      .row-fluid.inner-page
        .span6.pull-right
          = image_tag("explorer.jpg", :class=> 'pull-right')
        .span6.pull-right
          = t('landing.explorer_text')
          %br/
          %br/
          %a.btn.btn-centered{href: "http://101companies.org/resources?format=html", title: "Read the wiki"}
            = t('landing.explorer_go')
      %br/
      %br/
      %br/

    #contributions.page.color-4
      %br/
      .inner-page
        %h2.page-headline.large= t('landing.contribution_title')
      .row-fluid.inner-page
        .span6.pull-right
          %center
            = image_tag("codercat.png")
        .span6.pull-right
          = t('landing.contribution_text')
          %br/
          %br/
          %a.btn.btn-centered{href: "/contribute/new", title: "Read the wiki"}
            = t('landing.contribution_go')
          %br/
          %br/
          %br/
          %br/
          %br/
          %br/
          %br/
          %br/
          %br/

    / Social icons
    %footer#contact.page.color-1
      .inner-page
        %h2.page-headline.large= t('landing.contact')
      .inner-page.row-fluid
        .span4.social
          %ul.big-list
            %li
              %a{href: "https://twitter.com/101companies", :target => 'blank'}
                %i.icon-twitter
                Twitter
            %li
              %a{href: "https://github.com/101companies", :target => 'blank'}
                %i.icon-github-sign
                Github
        .span4.social
          %ul.big-list
            %li
              %a{href: "https://www.youtube.com/channel/UCzecm5qz_9KDcxuhgbRDy-w", :target => 'blank'}
                %i.icon-youtube-play
                Youtube
            %li
              %a{href: "http://101companies.tumblr.com", :target => 'blank'}
                %i.icon-tumblr
                Blog
        .span4.social
          %ul.big-list
            %li
              %a{href: "http://softlang.wikidot.com/", :target => 'blank'}
                %i.icon-globe
                Info
            %li
              %a{href: "mailto:101companies@gmail.com", :target => 'blank'}
                %i.icon-inbox
                Email
