
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>101wiki</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <%#= stylesheet_link_tag "landing", media: "all" %>
    <%#= javascript_include_tag "landing" %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>


    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

  </head>
  <!-- activate scrollspy -->
  <body data-offset='50' data-spy='scroll' data-target='.navbar' id='top'>
    <% if flash.count > 0 %>
    <div class="modal fade" tabindex="-1" role="dialog" id='flash-modal'>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Notice</h4>
          </div>
          <div class="modal-body">
            <% flash.each do |type, message| %>
              <div class="alert <%= bootstrap_class_for(type) %> fade in">
                <button class="close" data-dismiss="alert">×</button>
                <%= message %>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <% end %>
    <!-- Nav button -->
    <!-- <a class='closed' id='toggle'>
      <i class='icon-reorder'></i>
    </a> -->
    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">101wiki<%#= image_tag('tower.png', style: 'max-width: 100%; max-height: 100%;') %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id='navbarSupportedContent'>
        <ul class='navbar-nav mr-auto' role='tablist'>
          <li class='nav-item active'>
            <a class='nav-link' role="tab" aria-controls="description" href='#description' data-toggle="tab">What's 101?</a>
          </li>
          <li class="nav-item">
            <a class='nav-link' role="tab" href='#languages' data-toggle="tab">Languages</a>
          </li>
          <li class="nav-item">
            <a class='nav-link' role="tab" href='#technologies' data-toggle="tab">Technologies</a>
          </li>
          <li class='hidden-sm nav-item'>
            <a class='nav-link' role="tab" href='#features' data-toggle="tab">Features</a>
          </li>
          <li class="nav-item">
            <a class='nav-link' role="tab" href='#contributions' data-toggle="tab">Contributions</a>
          </li>
          <li class="nav-item">
            <a class='nav-link' role="tab" href='#courses' data-toggle="tab">Courses</a>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
