
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Wiki of 101companies</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <%= stylesheet_link_tag "landing", media: "all" %>
    <%= javascript_include_tag "landing" %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
    </script>
    <![endif]-->
    <!-- Le fav -->
    <script>
      // History, and back button
      $(function() {

        $('a.scroll').click(function(e) {
          e.preventDefault();
          var hash = this.hash;
          $('html, body').animate({
            scrollTop: $(this.hash).offset().top - 20
          }, 500, function(){
            // when done, add hash to url
            // (default click behaviour)
            window.location.hash = hash;
          });

        });

      });
    </script>
  </head>
  <!-- activate scrollspy -->
  <body data-offset='50' data-spy='scroll' data-target='.navbar' id='top'>
    <!-- Nav button -->
    <a class='closed' id='toggle'>
      <i class='icon-reorder'></i>
    </a>
    <!-- Navigation -->
    <header class='navbar navbar-inverse navbar-fixed-top'>
      <div class='container-fluid'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class='active'>
              <a class='scroll brand-4' href='#project'><%= t('landing.project_title') %></a>
            </li>
            <li>
              <a class='scroll brand-1' href='#linkeddata'><%= t('landing.linkeddata_title') %></a>
            </li>
            <li>
              <a class='scroll brand-4' href='#contributions'><%= t('landing.contribution_title') %></a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class='container page color-4' id='project'>
      <br>
      <div class='inner-page'>
        <h2 class='page-headline large'><%= t('landing.project_title') %></h2>
      </div>
      <div class='row inner-page'>
        <div class='col-md-6'>
          <div class='tag-cloud'></div>
        </div>
        <div class='col-md-6'>
          <%= t('landing.project_text') %>
          <br>
          <br>
          <a class='btn btn-info btn-centered' href='/101project' title='Read the wiki'>
             <%= t('landing.project_go') %>
          </a>
        </div>
      </div>
    </div>
    <!-- Linked Data -->
    <div style='margin-top: 60px;' class='page container color-1' id='linkeddata'>
      <br>
      <div class='inner-page'>
        <h2 class='page-headline large'><%= t('landing.linkeddata_title') %></h2>
      </div>
      <div class='row-fluid inner-page'>
        <div class='col-md-6 pull-right'>
          <%= image_tag("101linkeddata.png", class: 'pull-right') %>
        </div>
        <div class='col-md-6 pull-right'>
          <%= t('landing.linkeddata_text') %>
          <br>
          <br>
          <a class='btn btn-info btn-centered' href='resource' title='<%= t('landing.linkeddata_go') %>'>
            <%= t('landing.linkeddata_go') %>
          </a>
        </div>
      </div>
      <br>
      <br>
      <br>
    </div>
    <div style='margin-top: 70px;' class='page container color-4' id='contributions'>
      <br>
      <div class='inner-page'>
        <h2 class='page-headline large'><%= t('landing.contribution_title') %></h2>
      </div>
      <div class='row-fluid inner-page'>
        <div class='col-md-6 pull-right'>
          <center>
            <%= image_tag("codercat.png") %>
          </center>
        </div>
        <div class='col-md-6 pull-right'>
            <%= t('landing.contribution_text') %>
          <br>
          <br>
          <a class='btn btn-info btn-centered' href='/contribute/new' title='<%= t('landing.contribution_go') %>'>
            <%= t('landing.contribution_go') %>
          </a>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
    <!-- Social icons -->
    <footer class='container page color-1' id='contact'>
    <div class='inner-page'>
    <h2 class='page-headline large'>Contact</h2>
    </div>
    <div class='inner-page row'>
    <div class='col-md-4 social'>
    <ul class='big-list'>
    <li>
    <a href='https://twitter.com/101companies' target='blank'>
    <i class='icon-twitter'></i>
    Twitter
    </a>
    </li>
    <li>
    <a href='https://github.com/101companies' target='blank'>
    <i class='icon-github-sign'></i>
    Github
    </a>
    </li>
    </ul>
    </div>
    <div class='col-md-4 social'>
    <ul class='big-list'>
    <li>
    <a href='https://www.youtube.com/channel/UCzecm5qz_9KDcxuhgbRDy-w' target='blank'>
    <i class='icon-youtube-play'></i>
    Youtube
    </a>
    </li>
    <li>
    <a href='http://101companies.tumblr.com' target='blank'>
    <i class='icon-tumblr'></i>
    Blog
    </a>
    </li>
    </ul>
    </div>
    <div class='col-md-4 social'>
    <ul class='big-list'>
    <li>
    <a href='http://softlang.wikidot.com/' target='blank'>
    <i class='icon-globe'></i>
    Info
    </a>
    </li>
    <li>
    <a href='mailto:101companies@gmail.com' target='blank'>
    <i class='icon-inbox'></i>
    Email
    </a>
    </li>
    </ul>
    </div>
    </div>
    </footer>

    <script>
      var data = <%= raw @technologies.to_json %>
      var width = 500;
      var height = 300;

      $(document).ready(function() {
        var word_numbers = $.map(data, function(x) {
          return x;
        });

        var word_number = word_numbers.reduce(function(x, y) {
          return x + y;
        });

        var words = $.map(data, function(_, x) {
          return x;
        });

        var step = Math.max.apply(null, word_numbers) / 6

        var fill = d3.scale.category20();

        d3.layout.cloud().size([width, height])
        .words(words.map(function(d) {
          var factor = 10;
          var count = data[d];
          var css = count / step;
          factor += css*50;

          return {text: d, size: factor};
        }))
        .rotate(function() { return ~~(Math.random() * 2) * 90; })
        .font("Impact")
        .fontSize(function(d) { return d.size; })
        .on("end", draw)
        .start();

        function draw(words) {
          d3.select(".tag-cloud").append("svg")
          .attr("width", width)
          .attr("height", height)
          .append("g")
          .attr("transform", "translate(" + width/2 + "," + height/2 + ")")
          .selectAll("text")
          .data(words)
          .enter().append("text")
          .attr("text-anchor", "middle")
          .style("font-size", function(d) { return d.size + "px"; })
          .style("font-family", "Impact")
          .style("fill", function(d, i) { return fill(i); })
          .attr("text-anchor", "middle")
          .on("click", function(d) {
            window.location.href = '/wiki/Technology:' + d.text;
          })
          .attr("transform", function(d) {
            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
          })
          .text(function(d) { return d.text; });
        }

      });

    </script>
  </body>
</html>
